@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,500&family=Tangerine:wght@400;700&display=swap');

body {
    background-color: #1c2135;
}


/* the text styled*/

.brand-logo, .brand-story, .brand-potfolio, .brand-resume {
    color: #5a6794;
    font-size: 90px;
    font-family: "Tangerine", cursive;
    font-weight: 700;
}

li.nav-item,  .story-text  {
    font-size: 20px;
    color: #5a6794;
}
/* block-divider*/

.first-divider, .third-divider, .second-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #5a6794;
}










/*borrowed navbar css from a bootstrap site that was made on a course*/

.navbar {
    border: 5px;
    width: 100%;
    background-color: #1c2135;
    border-color: #e7e9ee;
}

.navbar .navbar-toggler {
    border: 0;
}



#contact-me {
      color:   #5a6794;
      border-radius: 50%;
      font-family: "Roboto";
}

/*the middle part style*/

#portfolio {
    color: #1c2135;
    background-color: #e7e9ee;
}

#resume {
    color:   #e7e9ee;
}



.phone {
    color:   #e7e9ee;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #e7e9ee;
    background: #5a6794;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}