@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,500&family=Tangerine:wght@400;700&display=swap');



html {
    scroll-behavior: smooth;
}

body {
    background-color: #1c2135;
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
}

/*--media--*/

@media (max-width: 576px) { 

    html {
        width: 100vw;
        height: 100vh;
    }


    .row {
        margin: 0;
        padding: 0;
    }
    
    

    .form-group {
        padding-left: 20px;
        padding-right: 20px;    
    }
  

    .phone, .social-links {
        display: block;
    }
  
}


/*header style*/

#header {
    background-color: #1c2135;
}


.navbar-brand {
    font-size: 60px;
    font-family: "Tangerine", cursive;
    color: #5a6794;
}

.navbar-container {
    background-color: #1c2135;
}




/* the text styled*/

.brand-logo, .brand-story, .brand-potfolio, .brand-contact {
    color: #5a6794;
    font-size: 60px;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}


/*the block of text that counts as story */
.story-text  {
    font-size: 20px;
    color: #5a6794;
}


/*the list in header - story, portfolio, resume and social links in the bottom*/


/* block-divider*/

.block-divider {
    width: 300px;
    height: 3px;
    border: 0;
    background-color: #5a6794;
}

.third-divider {
    margin-bottom: 40px;
    margin-top: -25px;
}

/*borrowed navbar css from a bootstrap site that was made on a course*/

.navbar-container {
    position: sticky;
}

.navbar-toggler-icon {
    background-color: #e7e9ee;
}

.navbar-toggler {
    background-color: #5a6794;
}



/*the middle part style*/

#story {
    margin-top: 100px;
    background-color: #1c2135;
}

/*card style*/

.card-row {
    margin-left: 25px;
    margin-right: 25px;
}


.a-card, .b-card, .c-card, .d-card, .e-card, .f-card {
    border-color: #5a6794;
    background-color: #e7e9ee;
    color: #1c2135;
    box-shadow: 5px 5px 5px #5a6794;
    margin-top: 50px;
    height: 200px;
}



/*the image*/

.round-image {
    box-shadow: 3px 3px 3px #e7e9ee;
    height: 170px;
    width: 160px;

}

/*--portfolio bit--*/

#portfolio {
    background-color: #1c2135;
    color: #e7e9ee;
}


/*--contact form bit--*/

#contact-form {
   background-color: #1c2135;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
    color: #5a6794;
}

.form-row {
    text-align: center;
}


.submit-btn {
    background-color: #5a6794;
    color: #e7e9ee;
    margin-top: 20px;
}


/*--footer style--*/



#footer {
    height: 100px;
    margin-top: 100px;
    background-color: #1c2135;
}


.phone {
    color:   #e7e9ee;
    text-align: right;
}

.social-links {
    margin-bottom: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #e7e9ee;
    background: #5a6794;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}